*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: serif;
}
body {
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
}

section h2 {
    color: white;
    text-align: left;
    margin: 10px;
    padding-left: 25px;
}
.container{
    border: 1px solid black;
    width: 900px;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    background-color: white;/**/
    border-radius: 40px;
    position: relative;
}
.form{
    color: black;
    text-align: left;
    /*border: 5px solid red;/**/
    position: relative;
    width: 900px;
    height: 500px;
}
.pagina1{
    color: black;
    text-align: left;
    /*border: 5px solid blue;/**/
    position: relative;
    width: 900px;
    height: 500px;
}
.campo1{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 35px;
    font-size: 21px;
    /*margin-top: 40px;*/
}
#patente{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo2{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 100px;/**/
    font-size: 21px;
}
#marca{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo3{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 165px;/**/
    font-size: 21px;
}
#vin{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo4{
    position: absolute;
    width: 163px;
    height: 200px;
    left: 70px;
    top: 229px;/**/
    font-size: 21px;
}
#modelo{
    width: 100%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
    height: 40px
}
.campo5{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 300px;
    font-size: 21px;
}
#version{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo6{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 363px;
    font-size: 21px;
}
#año{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.sc{
    background-image: url('../img/sc.jpg');
    background-size: cover;
}
.sc{
    position: absolute;
    width: 450px;
    height: 350px;
    border: 5px solid black;
    border-radius: 35px;
    right: 70px;
    top: 40px;
}
.btn1{
    position: absolute;
    width: 9%;
    height: 7%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px;
    left: 70px;
    top: 440px;
}
.btn2{
    position: absolute;
    width: 9%;
    height: 7%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px;
    right: 70px;
    top: 440px;
}
.pagina2{
    color: black;
    text-align: left;
    /*border: 5px solid blue;/**/
    position: relative;
    width: 900px;
    height: 500px;
}
.campo7{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 35px;
    font-size: 21px;

}
#kilometros{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo8{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 100px;/**/
    font-size: 21px;
}
#mantenimiento{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo9{
    position: absolute;
    width: 250px;
    height: 200px;
    left: 70px;
    top: 190px;/**/
    font-size: 21px;
}
#problema_adicional{
    width: 100%;
    height: 20%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
    margin-top: 10px;/**/
}
.ss{
    background-image: url('../img/es.jpg');
    background-size: cover;
}
.ss{
    position: absolute;
    width: 450px;
    height: 350px;
    border: 3px solid black;
    border-radius: 35px;
    right: 70px;
    top: 40px;
}
.pagina3{
    color: black;
    text-align: left;
    /*border: 5px solid blue;/**/
    position: relative;
    width: 900px;
    height: 500px;
}
.campo10{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 35px;
    font-size: 21px;
}
#rut{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo11{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 100px;/**/
    font-size: 21px;
}
#apellido_p{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo12{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 165px;/**/
    font-size: 21px;
}
#apellido_m{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo13{
    position: absolute;
    width: 163px;
    height: 200px;
    left: 70px;
    top: 229px;/**/
    font-size: 21px;
}
#correo{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo14{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 70px;
    top: 293px;
    font-size: 21px;
}
#telefono{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo15{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 320px;
    top: 35px;
    font-size: 21px;
}
#Nombres{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo16{
    position: absolute;
    width: 170px;
    height: 200px;
    left: 320px;
    top: 99px;
    font-size: 21px;
}
#confirmar_correo{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo17{
    position: absolute;
    width: 170px;
    height: 200px;
    left: 320px;
    top: 165px;
    font-size: 21px;
}
#confirmar_telefono{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo18{
    position: absolute;
    width: 170px;
    height: 200px;
    left: 320px;
    top: 229px;
    font-size: 21px;
}
.pagina4{
    color: black;
    text-align: left;
   /* border: 5px solid blue;/**/
    position: relative;
    width: 900px;
    height: 500px;
}
.titulo_p{
    position: relative;
    left: 600px;
    top: 40px;
    font-size: 21px;
}
.campo19{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 600px;
    top: 70px;
    font-size: 21px;
    /*margin-top: 40px;*/
}
#fecha{
    width: 100%;
    height: 10%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.campo20{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 600px;
    top: 135px;/**/
    font-size: 21px;
}
#horario{
    width: 100%;
    height: 20%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;/**/
    border-radius: 15px;
    padding: 5px;
}
.btn3{
    position: absolute;
    width: 15%;
    height: 7%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px;
    right: 70px;
    top: 440px;
}
#factura{
    position: absolute;
    color: black;
    font-size: 28px;
    left: 300px;
    top: 5px;
}
#resumen_patente{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 80px;
    top: 70px;
}
#resumen_marca{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 80px;
    top: 115px;
}
#resumen_vin{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 80px;
    top: 160px;
}
#resumen_modelo{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 80px;
    top: 207px;
}
#resumen_version{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 80px;
    top: 252px;
}
#resumen_año{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 80px;
    top: 296px;
}
#resumen_kilometros{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 290px;
    top: 70px;
}
#resumen_mantenimiento{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 290px;
    top: 115px;
}
#resumen_problema_adicional{
    width: 260px;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 290px;
    top: 160px;
}
#resumen_nombre{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 290px;
    top: 210px;
}
#resumen_apellido_p{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 290px;
    top: 252px;
}
#resumen_apellido_m{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 290px;
    top: 296px;
}
#resumen_correo{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 590px;
    top: 70px;
}
#resumen_telefono{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 590px;
    top: 121px;
}
#resumen_rut{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 590px;
    top: 160px;
}
#resumen_entrega_vehiculo{
    width: 250px;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 590px;
    top: 207px;
}
#resumen_fecha{
    width: auto;
    height: auto;
    position: absolute;

    color: black;
    font-size: 21px;
    left: 590px;
    top: 280px;
}
#resumen_horario{
    width: auto;
    height: auto;
    position: absolute;
    color: black;
    font-size: 21px;
    left: 590px;
    top: 325px;
}